<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>members</title>

</head>
<body>
<div id="app">
    <template>
        <!--下面是搜索表单的代码-->
        <!--<el-form :inline="true" v-bind:model="queryField" class="demo-form-inline">
            <el-form-item label="姓名">
                <el-input v-model="queryField.name" placeholder="姓名"></el-input>
            </el-form-item>
            <el-form-item label="学号">
                <el-input v-model="queryField.studentId" placeholder="学号"></el-input>
            </el-form-item>
            <el-form-item label="学院">
                <el-select v-model="queryField.school" placeholder="学院">
                    <el-option label="航空航天学院" value="hangkong"></el-option>
                    <el-option label="信息与通信工程学院" value="xintong"></el-option>
                    <el-option label="电子科学与工程学院" value="dianzi"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" v-on:click="selectMember">查询</el-button>
            </el-form-item>
        </el-form>-->

        <!--按钮-->
        <el-row>
            <el-button type="danger" v-on:click="deleteRows">批量删除</el-button>
            <el-button type="primary" v-on:click="dialogFormVisible = true">添加成员</el-button>
        </el-row>
        <!--添加成员的表单形式的对话框-->
        <el-dialog title="添加成员" :visible.sync="dialogFormVisible" width="400px">
            <el-form :model="newMember">
                <el-form-item label="姓名" :label-width="formLabelWidth">
                    <el-input v-model="newMember.name"></el-input>
                </el-form-item>
                <el-form-item label="学号" :label-width="formLabelWidth">
                    <el-input v-model="newMember.studentId"></el-input>
                </el-form-item>
                <el-form-item label="学院" :label-width="formLabelWidth">
                    <el-input v-model="newMember.school"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="addMember">确 定</el-button>
            </div>
        </el-dialog>

        <!--修改成员对话框-->
        <el-dialog title="修改成员" :visible.sync="updateDialogFormVisible">
            <el-form :model="updateMember">
                <el-form-item label="姓名" :label-width="formLabelWidth">
                    <el-input v-model="updateMember.name"></el-input>
                </el-form-item>
                <el-form-item label="学号" :label-width="formLabelWidth">
                    <el-input v-model="updateMember.studentId"></el-input>
                </el-form-item>
                <el-form-item label="学院" :label-width="formLabelWidth">
                    <el-input v-model="updateMember.school"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="updateDialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="updateRow">确 定</el-button>
            </div>
        </el-dialog>

        <!--下面是表格的代码-->
        <el-table
                v-bind:data="tableData"
                stripe
                style="width: 100%"
                v-on:selection-change="handleSelectionChange">
            <el-table-column
                    type="selection"
                    width="100">
            </el-table-column>
            <el-table-column
                    label="序号"
                    align="center"
                    type="index"
                    width="50">
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="姓名"
                    align="center">
            </el-table-column>

            <el-table-column
                    prop="studentId"
                    label="学号"
                    align="center">
            </el-table-column>

            <el-table-column
                    prop="school"
                    label="学院"
                    align="center">
            </el-table-column>
            <el-table-column
                    align="center"
                    label="操作">
                <template slot-scope="scope">
                    <el-button type="primary" plain v-on:click.native.prevent="showRow(scope.$index, tableData)">
                        修改
                    </el-button>
                    <el-button type="danger" plain v-on:click.native.prevent="deleteRow(scope.$index, tableData)">
                        移除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>

        <div class="block">
            <el-pagination
                    v-on:size-change="handleSizeChange"
                    v-on:current-change="handleCurrentChange"
                    v-bind:current-page="currentPage1"
                    v-bind:page-sizes="[10, 20, 30, 40]"
                    v-bind:page-size="10"
                    layout="total, sizes, prev, pager, next, jumper"
                    v-bind:total="40">
            </el-pagination>
        </div>
    </template>
</div>


<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
<script src="js/axios-0.18.0.js"></script>
<script>
    new Vue({
        el: "#app",
        mounted() {// 这是具有生命周期的函数，其实就是在特定时机执行的方法
            // 当页面加载完成，发送异步请求（用到AJAX），获取数据
            this.selectAll();
        },
        data() {
            return {
                // 表格数据
                tableData: [{
                    name: '',
                    studentId: '',
                    school: ''
                }],

                // 复选框选中后会把该行数据放到这个list集合中
                multipleSelection: [],

                selectedStudentIds: [],

                queryField: {
                    name: '',
                    studentId: '',
                    school: ''
                },

                // 新增成员时展示的对话框
                dialogFormVisible: false,
                updateDialogFormVisible: false,

                newMember: {
                    name: '',
                    studentId: '',
                    school: ''
                },

                updateMember: {
                    name: '',
                    studentId: '',
                    school: ''
                },

                formLabelWidth: '50px',

                // 分页功能的当前页
                currentPage1: 1,

                rootUrl: "http://218.194.34.190:15992/api/fakeiam/users"
            }
        },
        methods: {
            //复选框选中后执行该方法,
            handleSelectionChange(val) {
                this.multipleSelection = val;
                /*console.log(this.multipleSelection);*/
            },

            //查询成员
            selectMember() {
                console.log('submit!');
            },

            //添加成员
            addMember() {
                var _this = this;
                axios({
                    method: "post",
                    url: _this.rootUrl,
                    data: _this.newMember
                }).then(function (resp) {
                    if (resp.data.data) {
                        _this.dialogFormVisible = false;
                        _this.selectAll();
                        _this.$message({
                            message: "添加成功~",
                            type: "success"
                        });
                        _this.newMember = {
                            "name": "hhh",
                            "mobile": "132",
                            "email": "string",
                            "status": 1,
                            "username": "123",
                            "password": "string",
                            "role": 3
                        }
                    } else {
                        _this.$message.error('添加失败！');
                    }
                })
                /*console.log(this.newMember);*/
            },
            // 分页功能的两个函数
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
            },
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
            },
            // 查询所有
            selectAll() {
                var _this = this;
                axios({
                    methods: "get",
                    url: _this.rootUrl
                }).then(function (resp) {  // axios向url发送get请求，然后返回的resp被function处理，赋值给Vue对象的tableData成员变量
                    _this.tableData = resp.data.data;
                    /*console.log(resp);
                    console.log(resp.data);
                    console.log(resp.data.data);*/
                })
            },
            // 删除单个
            deleteRow(index, rows) {
                // rows.splice(index, 1);  // 从前端删除，并没有从后端删除

                this.$confirm('此操作将永久删除该成员, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    // 提取选中的member的studentId
                    var _this = this;
                    axios({
                        method: "delete",
                        url: _this.rootUrl + "/" + rows[index].studentId+"/togglestatus",
                    }).then(function (resp) {
                        /*console.log(rows[index])
                        console.log(rows[index].studentId)
                        console.log(resp.data.data)*/
                        if (resp.data.data) {
                            _this.selectAll();
                            _this.$message({
                                message: "删除成功~",
                                type: "success"
                            });
                        } else {
                            _this.$message.error('删除失败！');
                        }
                    })
                });
            },

            // 删除选中
            deleteRows() {
                if (this.multipleSelection.length !== 0) {
                    this.$confirm('此操作将永久删除成员, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        // 提取选中的member的studentId
                        for (let i = 0; i < this.multipleSelection.length; i++) {
                            let temp = this.multipleSelection[i]
                            this.selectedStudentIds[i] = temp.studentId
                        }

                        var _this = this;
                        axios({
                            method: "delete",
                            url: _this.rootUrl,
                            data: _this.selectedStudentIds
                        }).then(function (resp) {
                            if (resp.data.data) {
                                _this.selectAll();
                                _this.$message({
                                    message: "删除成功~",
                                    type: "success"
                                });
                            } else {
                                _this.$message.error('删除失败！');
                            }
                        })
                    });
                } else {
                    this.$message.error('请勾选成员！');
                }
            },

            // 修改前展示
            showRow(index, rows) {
                var _this = this;
                axios({
                    method: "get",
                    url: _this.rootUrl + "/" + rows[index].studentId,
                }).then(function (resp) {
                    _this.updateMember = resp.data.data;
                })
                _this.updateDialogFormVisible = true;
            },

            // 修改单个
            updateRow() {
                var _this = this;
                axios({
                    method: "put",
                    url: _this.rootUrl,
                    data: _this.updateMember
                }).then(function (resp) {
                    if (resp.data.data) {
                        _this.updateDialogFormVisible = false;
                        _this.selectAll();
                        _this.$message({
                            message: "修改成功~",
                            type: "success"
                        });
                    } else {
                        _this.$message.error('修改失败！');
                    }
                })
            }
        }

    })
</script>

</body>
</html>